<div class="main" id="main">
  <!-- TITOLO -->
  <div class="pagetitle">
    <h1>Pagina test routing</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/homePage">Home</a></li>
        <li class="breadcrumb-item">Pagine di Esempio</li>
        <li class="breadcrumb-item active">Berta Test</li>
      </ol>
    </nav>
  </div>

  <!-- CONTENUTO -->
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <!-- Titolo della card -->
            <h5 class="mb-0 card-title">Questa è una pagina diversa da anag che serve per il test del routing</h5>
          </div>
        </div>

        <a href="/homePage" class="btn btn-secondary">Chiudi</a>
      </div>
    </div>
  </section>
</div>


